{% extends 'contest/main.html' %}
{% block content %}
<div class="row">
    <div class="large-offset-2 large-8 columns end">
        <h3>{{task}}</h3>
        <p>{{task.formulation |linebreaks }}</p>


        {% if  form %}
        <form method="POST" class="post-form">
            {{ form.as_p }}

        <input type="submit" class="button" value="Сохранить решение">
        </form>
        {% else %}
            {% if  post %}
            <p>Задание успешно отправлено.</p>
            {% else %}
            <p>Задание не может быть отправлено.</p>
            {% endif %}

        {% endif %}
    </div >
</div >
{% endblock %}