{% extends 'contest/main.html' %}
{% block content %}
    <div>
        <h1><a href= "" >Список задач</a></h1>
    </div>

    <div>
        <h3> Привет, {{student}}!</h1>
    </div>

<table>
  <thead>
    <tr>
      <th width="200">Задание</th>
      <th>Задача</th>
      <th>Срок 1</th>
      <th>Срок 2</th>
      <th width="150">Результ</th>
    </tr>
  </thead>
  <tbody>


    {% for task in tasks %}
        <tr>
          <td>{{task.tasks_set}}</td>
          <td><p><a href ="{% url 'task_details' task.task_id%}">{{task.task}}</p></td>
          <td>{{task.deadline1}}</td>
          <td>{{task.deadline2}}</td>
          <td>{{task.grade}}</td>
    {% endfor %}

  </tbody>
</table>


{% endblock %}